/* Geral */
html {
    font-family: 'Open Sans', sans-serif;
}

/* Reset */
body {
    margin: 0;
    color: #333;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
}

/* Header */
header {
    width: 100%;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo {
    width: 50px;
}

.nav-container ul {
    list-style: none;
    display: flex;
}

.nav-container li {
    margin: 0 15px;
}

.nav-container a {
    text-decoration: none;
    color: #666;
    transition: color 0.5s;
}

.nav-container a:hover {
    color: #3381F3;
}

/* Banner */
#main-banner {
    background: url('../img/banner6.jpg') no-repeat center/cover;
    margin-top: 80px; /* ajustado para navbar */
    padding: 60px 20px;
    text-align: center;
}

#search-form h1 {
    font-size: 36px;
    color: #333;
}

#search-form p {
    margin: 20px 0;
    font-size: 16px;
}

/* Formulário */
#search-form input, 
#search-form select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0 5px;
}

#search-form input[type=submit] {
    background-color: #3381f3;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s;
}

#search-form input[type=submit]:hover {
    background-color: #2B79EB;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 0 0 calc(70% / 5); /* Cada card ocupa 1/5 do carrossel */
    margin: 0; /* Remova a margem para evitar overflow */
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100px; /* Defina a largura da imagem */
    height: 100px; /* Defina a altura da imagem */
    border-radius: 50%; /* Se ainda for necessário */
}

.card h3 {
    font-size: 20px; /* Defina o tamanho da fonte */
    margin: 10px 0; /* Margem entre o título e outros elementos */
}

.card p {
    font-size: 16px; /* Defina o tamanho da fonte */
    color: #666; /* Cor do texto */
    margin: 5px 0; /* Margem entre os parágrafos */
}

.stars {
    color: gold; /* Cor das estrelas */
    font-size: 18px; /* Tamanho das estrelas */
    margin: 5px 0; /* Espaçamento */
}

/* Estilos do Carrossel */
.carousel {
    display: flex;
    align-items: center;
    overflow: hidden; /* Para ocultar qualquer parte de card que exceda a largura */
    width: 100%;
    max-width: 1200px; /* Ajuste conforme necessário */
    margin: auto;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * (totalCards / cardsToShow)); /* Certifique-se de que isso é correto */
}


* {
    box-sizing: border-box;
}


.prev, .next {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px; /* Ajuste conforme necessário */
}

.next {
    right: 10px; /* Ajuste conforme necessário */
}